body{
	font-family: Lato;
	margin: 0;
    padding: 0;
    height:100%;
}
/* CONTAINER */
#container{width: 1300px;height: auto;margin: 0px auto;padding-top: 100px;overflow: hidden;}

/* HEADER */
#header{
    background-image: url('../assets/header.jpg');
    background-position: center;
    height: 400px;
    width: 100%;
    position: relative;
}

#header h1 {
    position: relative;
    top: 80%;
    left: 10%;
    color: white;
    font-size: 55px;
    letter-spacing: 10;
}

/* NAVIGATION BAR */
#top-navbar{
    width: 100%;
    position: fixed;
    background-color: #71C9CE;
    z-index: 10;
    height: 100px;
    overflow: hidden;
}

.logo {
    color: white;
    padding: 14px 16px;
    display: inline-block;
    text-align: center;
    float: left;
}

.logo img {
    height: 75px;
    margin-left: 100px;
    text-align: center;
}

#top-navbar .menubar a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    padding-bottom: 28px;
    text-decoration: none;
    font-size: 17px;
}

#top-navbar .menubar a:hover {border-bottom: 6px solid #ffe400;}

.menubar {
    text-align: right;
    margin-top: 45px;
    padding-right: 100px;
}

/* PACKAGE */
#package ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    height: auto;
}

#package ul li {
    width: 75%;
    float: left;
    padding-right: 0px;
    background: #71C9CE;
    margin-bottom: 50px;
}

#package ul li .package_image a img {
    width: 350px;
    height: 320px;
    display: inline-block;
    float: left;
}

#package {
    width: 100%;
    /* height: auto; */
    margin-top: 50px;
}

.package_desc {
    display: inline-block;
    width: 64%;
    position: relative;
    left: 5%;
}

.package_desc_content_item {
    float: left;
    width: 50%;
}

.package_desc_content_price {
    display: inline-block;
    position: relative;
    padding-left: 50px;
    margin-top: 8%;
    border-left: 0.2px solid #ebebeb;
}

.package_desc_attr_time {
    display: inline-block;
    float: left;
    padding: 10px 15px;
    background-color: #A6E3E9;
    color: white;
    height: 20px;
}

.package_desc_attr_max {
    display: inline-block;
    float: left;
    padding: 10px 15px;
    background-color: #A6E3E9;
    color: white;
    height: 20px;
    margin-left: 15px;
}

#package .package_desc_content_item h2 {
    font-size: 30px;
    margin: 50px 0px 15px 0px;
    padding-right: 25px;
}

.package_desc_attr {
    display: inline-block;
    margin: 25px 0px;
}

.package_desc_content {
    display: inline-block;
}

#package h3 {
    color: white;
    font-size: 13px;
    padding-right: 20px;
    letter-spacing: 0.5;
}

#package h2, h3, p {
    color: white;
}

.package_desc_content_price a {
    text-decoration: none;
    color: white;
    display: inline-block;
    background: #f2d805;
    padding: 15px;
    margin-top: 25px;
}

#package .package_desc_content_price p {margin-top: -14px;}

.package_desc_content_price a:hover {
    background: #ffe400;
}


.package_desc_attr_time img {
    width: 20px;
    float: left;
    display: inline-block;
}

.package_desc_attr_time p {
    display: inline-block;
    margin-top: 0px;
    margin-left: 10px;
    margin-bottom: 0px;
}

.package_desc_attr_max img {
    width: 20px;
    float: left;
    display: inline-block;
    padding-top: 4px;
}

.package_desc_attr_max p {
    display: inline-block;
    margin-top: 0px;
    margin-left: 10px;
    margin-bottom: 0px;
}

/* SEARCH-BOX */
#search-box {
    display: inline-block;
    width: 20%;
    margin-left: 25px;
    background: #71C9CE;
    padding: 20px;
}

#search-box h1 {
    font-size: 20px;
    text-align: center;
    color: white;
}

#search-box .search-form {width: 75%;margin: 8px 0px;height: 40px;padding-left: 10px;border-radius: 10px;border: none;background-color: rgba(255,255,255,0.85);}

#search-box form {
    text-align: center;
}

#search-box .submission {
    margin-top: 15px;
}

#search-box input[type="submit"] {
    background: #F2D805;
    border: none;
    padding: 10px 25px;
    color: white;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
}

#search-box input[type="submit"]:hover {background: #ffe400;}

#search-box .search-form:focus {
    outline: none;
}

/* FOOTER */
#footer {
    height: 50px;
    background: #71C9CE;
    position: relative;
    width: 100%;
    display: inline-block;
    vertical-align: bottom;
    overflow: hidden;
}

#footer img {
    float: left;
    width: 16px;
    margin: 20px 0px;
}

#footer_content {
    display: inline-block;
    padding-left: 100px;
}

#footer p {
    display: inline-block;
    margin-left: 5px;
}
